* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  width: 100%;
  border: 1px solid;
}

li {
  background: rgba(128, 128, 128, 0.347);
  height: 100%;
  padding: 20px;
  cursor: pointer;
}

li:not(:last-child) {
  border-bottom: 1px solid;
}